<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\SWK5\PhoneTariff.mdf;Integrated Security=True;Connect Timeout=30"-->
    <add name="DefaultConnectionString"
      connectionString="Server=localhost;Database=ufodb;Uid=root;Pwd=;"
      providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DALAssembly" value="swk5.ufo.dal"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>